@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

:root {
  /* Dark Mode Colours */

  --background: #0f0f0f;
  --color: #5f5f5f;
  --button: #272727;
  --buttonhover: #3f3f3f;
  --feedback__color: rgba(255, 255, 255, 0.7);

  /* Light Mode Colours
  
  background: #FFFFFF;
  color: #000000;
  button: #F2F2F2;
  buttonhover: #E5E5E5;
  
  */
}


body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Lato', sans-serif;

}

.ofert {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 100px;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 0, 0);
}





.contenedorHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 100px;
}

.card {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 320px;
  background-color: transparent;
  color: var(--color);
  text-align: left;
  border-style: dashed;
  padding: 2%;
}


.card img {
  width: 300px;
  height: 300px;
}

#cardPrecio {
  background-color: rgb(235, 0, 0);
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  color: rgb(232, 3, 3);
  width: 120px;
}


.card:hover {
  scale: 1.04;
  transition: .5s
}


.boton-carrito {
  border: 0;
  padding: 4px 8px;
  width: 200px;
  height: 40px;
  background-color: rgba(19, 139, 231, 0.773);
  color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 3px;
}

.boton-carrito:hover {
  background-color: rgb(47, 12, 245);
}

/* DARK MODE */

@keyframes buttonPress {
  0% {
    box-shadow: inset 0px 0px 5px 2px var(--feedback__color);
  }

  100% {
    box-shadow: none;
  }
}

.toggle-container {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--button);
  position: absolute;
  top: 4em;
  right: 3em;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: 300ms ease-out;
  background-color: var(--background);
}

.toggle-dark {
  transform: translateX(0);
}

.toggle-light {
  transform: translateX(95%);
}

.touch_feedback {
  animation-name: buttonPress;
  animation-duration: 750ms;
}


/* DARK MODE */


/* SWIPER */
.swiper {
  margin-top: 60px;
  width: 100%;
  height: 600px;
  border-radius: 20px;
}

.swiper-img {
  height: 100%;
  width: 100%;
}




/* DARK MODE */


/* SECTION ARGENTINA */


.container-section {
  padding: 50px;
  height: 500px;
}

.argentina {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.imagen p {
  display: flex;
  position: relative;
  top: 160px;
  padding: 20px;
  font-size: 30px;
  color: rgb(231, 224, 224);
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


#argentina .container {
  position: relative;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 4px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.785);
  font-family: 'Lato', sans-serif;
}


.jordan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 70px;
}

.jordan img {
  border-radius: 40px;
}

.section-argentina {
  border-radius: 50px;
}




.texto {

  position: absolute;
  top: 25%;
  left: 10px;
}



/* DARK MODE */





/* FOOTER */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.hero {
  height: auto;
  background-color: rgba(0, 0, 0, 0.747);
  background-size: cover;
  background-blend-mode: multiply;
  /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}

.hero .container {
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.flex {
  display: flex;
}

.container__about {
  margin-bottom: 30px;
}

.container__about p {
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages {
  column-gap: 30px;
}

.container-pages ul {
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}

.container-pages ul a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages ul a:hover {
  color: #017143;
}

footer .by {
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .by p {
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}

.line__separete {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}



@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2 {
    font-size: 20px;
  }

  .container__about p {
    font-size: 12px;
  }

  .container__recentpages h2 {
    font-size: 20px;
  }

  .container-pages ul a {
    font-size: 12px;
  }

  footer .by p {
    font-size: 12px;
  }
}


/* FOOTER */


.text-center {
  color: var(--color);
}

b {
  color: var(--color);
}

.col-md-4 {
  color: var(--color);
}



/* RESPONSIVE */

@media (min-width: 1000px) and (max-width: 3000px) {
  .texto {
    position: absolute;
    top: 20%;
    font-size: 15px;
  }

  .toggle-container {
    position: absolute;
    top: 3%;
    right: 3%;
  }
  .jordan{
    gap: 60px;
  }
  .jordan img{
    width: 94%;
    height: 100%;
  }

}

@media screen and (min-width: 768px) and (max-width:1000px) {
  .texto {
    position: absolute;
    top: 23vh;
    font-size: 12px;
  }

  .toggle-container {
    position: absolute;
    top: 22%;
    right: 3%;
  }
  .jordan{
    margin: 1%;
    gap: 50px;
  }

  .jordan img{
    width: 94%;
    height: 100%;
  }

  .card {
    margin-left: 70px;
    display: flex;
    gap: 10px;
    width: 220px;
    padding: 2%;
  }


  .card img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 480px) and (max-width:768px) {
  .texto {
    position: absolute;
    top: 26vh;
    font-size: 12px;
  }

  .toggle-container {
    display: none;
  }

  .jordan{
    margin: 24%;
    gap: 50px;
  }
  .jordan img{
    width: 94%;
    height: 100%;
  }

  .card {
    margin-left: 70px;
    display: flex;
    gap: 10px;
    width: 220px;
    padding: 2%;
  }

  .texto{
    display: none;
  }

  .card img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (min-width: 320px) and (max-width:480px) {
  .texto {
    position: absolute;
    top: 10vh;
    left: auto;
    font-size: 12px;
  }

  .section-argentina {
    display: none;
  }

  .container p,
  h2 {
    color: var(--color);
  }

  .navbar-brand {
    margin-left: -30px;
  }

  .toggle-container {
    display: none;
  }

  .section-argentina {
    display: none;
  }

  .swiper {
    height: 200px;
  }

  .card {
    display: flex;
    gap: 10px;
    width: 220px;
    padding: 2%;
  }

  .jordan{
    margin: 2%;
  }

  .card img {
    width: 220px;
    height: 220px;
  }

  .jordan img{
    width: 90%;
    height: 90%;
  }
}



/* RESPONSIVE*/